<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyWrapped"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity android:name=".LoginActivity" />

        <!-- LoginDarkActivity -->
        <activity android:name=".LoginDarkActivity" />

        <!-- CreateAccountActivity -->
        <activity android:name=".CreateAccountActivity" />

        <!-- CreateAccountDarkActivity -->
        <activity android:name=".CreateAccountDarkActivity" />

        <!-- CreateVerifyActivity -->
        <activity android:name=".CreateVerifyActivity" />

        <!-- DeleteAccountActivity -->
        <activity android:name=".DeleteAccountActivity" />

        <!-- DeleteAccountDarkActivity -->
        <activity android:name=".DeleteAccountDarkActivity" />

        <!-- DeleteVerifyActivity -->
        <activity android:name=".DeleteVerifyActivity" />

        <!-- SettingsDarkAltActivity -->
        <activity android:name=".SettingsDarkAltActivity" />

        <!-- SettingsDarkOneActivity -->
        <activity android:name=".SettingsDarkOneActivity" />

        <!-- SettingsDarkTwoActivity -->
        <activity android:name=".SettingsDarkTwoActivity" />

        <!-- SettingsDarkThreeActivity -->
        <activity android:name=".SettingsDarkThreeActivity" />

        <!-- SettingsDarkFourActivity -->
        <activity android:name=".SettingsDarkFourActivity" />

        <!-- SettingsLightAltActivity -->
        <activity android:name=".SettingsLightAltActivity" />

        <!-- SettingsLightOneActivity -->
        <activity android:name=".SettingsLightOneActivity" />

        <!-- SettingsLightTwoActivity -->
        <activity android:name=".SettingsLightTwoActivity" />

        <!-- SettingsLightThreeActivity -->
        <activity android:name=".SettingsLightThreeActivity" />

        <!-- SettingsLightFourActivity -->
        <activity android:name=".SettingsLightFourActivity" />

        <!-- UpdateAccountActivity -->
        <activity android:name=".UpdateAccountActivity" />

        <!-- UpdateAccountDarkActivity -->
        <activity android:name=".UpdateAccountDarkActivity" />

        <!-- UpdateVerifyActivity -->
        <activity android:name=".UpdateVerifyActivity" />

        <!-- FriendArtistCompDarkActivity -->
        <activity android:name=".FriendArtistCompDarkActivity" />

        <!-- FriendArtistCompLightActivity -->
        <activity android:name=".FriendArtistCompLightActivity" />

        <!-- FriendCompDarkActivity -->
        <activity android:name=".FriendCompDarkActivity" />

        <!-- FriendCompLightActivity -->
        <activity android:name=".FriendCompLightActivity" />

        <!-- TopArtistDarkActivity -->
        <activity android:name=".TopArtistDarkActivity" />

        <!-- TopArtistLightActivity -->
        <activity android:name=".TopArtistLightActivity" />

        <!-- WrappedDarkActivity -->
        <activity android:name=".WrappedDarkActivity" />

        <!-- WrappedLightActivity -->
        <activity android:name=".WrappedLightActivity" />

    </application>

</manifest>