<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyWrapped"
        tools:targetApi="31">
        <activity
            android:name=".General.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity android:name=".General.LightActivities.LoginRelated.LoginActivity" />

        <!-- SettingsDarkOneActivity -->
        <activity android:name=".General.DarkActivities.Settings.SettingsDarkOneActivity" />

        <!-- SettingsDarkTwoActivity -->
        <activity android:name=".General.DarkActivities.Settings.SettingsDarkTwoActivity" />

        <!-- SettingsDarkThreeActivity -->
        <activity android:name=".General.DarkActivities.Settings.SettingsDarkThreeActivity" />

        <!-- SettingsDarkFourActivity -->
        <activity android:name=".General.DarkActivities.Settings.SettingsDarkFourActivity" />

        <!-- SettingsLightOneActivity -->
        <activity android:name=".General.LightActivities.Settings.SettingsLightOneActivity" />

        <!-- SettingsLightTwoActivity -->
        <activity android:name=".General.LightActivities.Settings.SettingsLightTwoActivity" />

        <!-- SettingsLightThreeActivity -->
        <activity android:name=".General.LightActivities.Settings.SettingsLightThreeActivity" />

        <!-- SettingsLightFourActivity -->
        <activity android:name=".General.LightActivities.Settings.SettingsLightFourActivity" />


        <!-- FriendArtistCompDarkActivity -->
        <activity android:name=".General.DarkActivities.Data.FriendArtistCompDarkActivity" />

        <!-- FriendArtistCompLightActivity -->
        <activity android:name=".General.LightActivities.Data.FriendArtistCompLightActivity" />

        <!-- FriendCompDarkActivity -->
        <activity android:name=".General.DarkActivities.Data.FriendCompDarkActivity" />

        <!-- FriendCompLightActivity -->
        <activity android:name=".General.LightActivities.Data.FriendCompLightActivity" />

        <!-- TopArtistDarkActivity -->
        <activity android:name=".General.DarkActivities.Data.TopArtistDarkActivity" />

        <!-- TopArtistLightActivity -->
        <activity android:name=".General.LightActivities.Data.TopArtistLightActivity" />

        <!-- WrappedDarkActivity -->
        <activity android:name=".General.DarkActivities.Data.WrappedDarkActivity" />

        <!-- WrappedLightActivity -->
        <activity android:name=".General.LightActivities.Data.WrappedLightActivity" />

    </application>

</manifest>