<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotifyWrapped"
        tools:targetApi="31">
        <activity
            android:name="MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity -->
        <activity android:name=".HomeActivity" />

        <!-- SettingsDarkOneActivity -->
        <activity android:name=".DarkActivities.Settings.SettingsDarkOneActivity" />

        <!-- SettingsLightOneActivity -->
        <activity android:name=".LightActivities.Settings.SettingsLightOneActivity" />


        <!-- FriendArtistCompDarkActivity -->
        <activity android:name=".DarkActivities.Data.FriendArtistCompDarkActivity" />

        <!-- FriendArtistCompLightActivity -->
        <activity android:name=".LightActivities.Data.FriendArtistCompLightActivity" />

        <!-- FriendCompDarkActivity -->
        <activity android:name=".DarkActivities.Data.FriendCompDarkActivity" />

        <!-- FriendCompLightActivity -->
        <activity android:name=".LightActivities.Data.FriendCompLightActivity" />

        <!-- TopArtistDarkActivity -->
        <activity android:name=".DarkActivities.Data.TopArtistDarkActivity" />

        <!-- TopArtistLightActivity -->
        <activity android:name=".LightActivities.Data.TopArtistLightActivity" />

        <!-- WrappedDarkActivity -->
        <activity android:name=".DarkActivities.Data.WrappedDarkActivity" />

        <!-- WrappedLightActivity -->
        <activity android:name=".LightActivities.Data.WrappedLightActivity" />

    </application>

</manifest>